.aboutus {
    margin-top: 100px;
}

.aboutus__title {
    font-weight: 700;
    font-size: 54px;
    line-height: 1.1;
    margin-bottom: 50px;
    text-align: center;
}

.aboutus-card {
    width: 1400px;
    height: 300px;

    background: #F7F7F7;
    border-radius: 30px;

    display: flex;
    align-items: center;
}

.aboutus-card__point {
    padding-right: 54px;
    padding-left: 57px;
}

.aboutus-card__text {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.4;
    padding: 0 70px;
}