
.header {
    margin: 0;
    background-color: #000;
    height: 94px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    height: 80px;
}

.header-nav {
    width: 668px;
    display: flex;
    justify-content: space-between;
}

.header-nav__item {
    color: #fff;
    text-decoration: none;

    font-weight: 700;
    font-size: 20px;

}

.active {
    color: #BDFF00;
}

.header-socials a{
    text-decoration: none;
}

.header-socials > * + * {
    margin-left: 12px;
}


.header-socials__item  img{
    height: 19px;
}

.logo__img {
    display: flex;
    justify-content: center;
}

.logo__img img{
    width: 1400px;
    height: 466px;
}