@font-face {
    font-family: Onest;
    src: url('./onest/TTF/OnestBold1602-hint.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Onest;
    src: url('./onest/TTF/OnestMedium1602-hint.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Onest;
    src: url('./onest/TTF/OnestRegular1602-hint.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Onest;
    src: url('./onest/TTF/OnestLight1602-hint.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Onest;
    src: url('./onest/TTF/OnestThin1602-hint.ttf');
    font-weight: 200;
    font-style: normal;
}
